/*<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>*/
/*add to head*/ 
body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

#weather-background-container{
  background-color:white; 
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*height: 100vh;*/
  z-index: -2;
  /*filter:blur(2px);
  -webkit-transition: -webkit-filter 2s linear;
  transition: filter 2s linear;*/
}

.WeatherBackground{
  height:100vh;
  width: 100%;
  background-color: none;
  /*margin-left: 2px;
  margin-right: 2px;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

#weather-background-extreme{
  background-image: url("./images/extreme.jpeg");
  width: 0%;
}

#weather-background-snow{
  background-image: url("./images/snow.jpeg");
}

#weather-background-storm{
  background-image: url("./images/thunderstorm.jpeg");
}

#weather-background-rain{
  background-image: url("./images/rain.jpeg");
  
}

#weather-background-haze{
  background-image: url("./images/haze.jpeg");
  width: 0%;
}

#weather-background-cloudy{
  background-image: url("./images/cloudy.jpeg");
}

#weather-background-clear{
  background-image: url("./images/clearbg.jpg");
}

#weather-background-windy{
  background-image: url("./images/windy.jpeg");
  width: 0%;
}

#input-container{
  position: absolute;
  /*background-color: rgba(255, 255, 255, .5);*/
  width: 100%;
  top:50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /*transform: translate(-50%, -50%);*/
  transition: transform 2s;
}

#input-form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  align-items: center;
}

#user-input-container-main{
  background-color: none;
  width: 75%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 200px;
}

#search-icon{
  position: absolute;
  color: #a6a6a6;
  left: 22px;
  background-color: none;
  padding-top: 10px;
  padding-bottom: 8px;
}

#user-input{
  width: 80%;
  font-size: 16px;
  padding-left: 30px;
  height: 30px;
  background-color: none;
}

#user-input:focus {
  outline:0;
}

#submit-button-container{
  width: 25%;
  background-color: none;
  margin-top: 20px;
}

#submit-button{
  width: 100%;
  max-width: 120px;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  background-color: orange;
  /*border: 2px solid white;*/
  height: 30px;
  cursor: pointer;
  color: white;
 
}

#submit-button:focus {
  outline:0;
}

#output-container-main{
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  /*max-width: 400px;*/
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  visibility: hidden;/*hidden for final*/
  opacity: 0;/*0 for final*/
  transition: opacity 2s;
}

.OutputContainer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  background-color: none;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 15px;
}

#city-name{
  background-color: none;
  margin-bottom: 0px;
}

#output-container-secondary-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.OutputFlexVertical{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*width: 50%;*/
  background-color: none;
  height: 120px;
}

#current-container{
  width: 50%;
  background-color: none;
}

#current-temp{
  font-size: 5em;
  background-color: none;
  position: relative;
  margin-top: -10px;
  margin-bottom: 0px;
}

#current-condition{
  position: relative;
  margin-top: 15px;
  padding-top: 0px;
  background-color: none;
}

#info-container{
  background-color: none;
  text-align: left;
}

#info-container p{
  background-color: none;
  margin:0;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none;
}

@media screen and (min-width: 400px){
  #input-form-container{
    flex-direction: row;
  }
  
  #submit-button-container{
    margin-top: 0px;
  }
  
  #user-input-container-main{
    text-align: left;
  }
  
  #search-icon{
    left: 10px;
  }
}
